# General
.idea/
.idea
jyhton/.hg
jyhton/build
jyhton/dist
jyhton/WDB_db
jyhton/WDB_STORE
./.hg
STORE
db
dist

# vim stuff
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# jython stuff
*.class
*.pyc
hs_err_pid* # jvm crash logs

/jyhton/WDB_db/
/jyhton/WDB_STORE/
