<config version="2">
  <component name="params" type="bootstrapParams" validate="true">
    <property name="forceBootstrapAdmin" value="false" type="BOOLEAN"/>
    <property name="storageNodeId" value="1" type="INT"/>
    <property name="adminHttpPort" value="5011" type="INT"/>
    <property name="numCPUs" value="1" type="INT"/>
    <property name="haPortRange" value="5013,5016" type="STRING"/>
    <property name="rootDir" value="/Users/WiNDWAY/Personal/CS370/CarnotKE/jyhton/./WDB_STORE" type="STRING"/>
    <property name="capacity" value="1" type="INT"/>
    <property name="memoryMB" value="512" type="INT"/>
    <property name="hostname" value="localhost" type="STRING"/>
    <property name="hostingAdmin" value="true" type="BOOLEAN"/>
    <property name="storeName" value="WDB" type="STRING"/>
    <property name="registryPort" value="5010" type="INT"/>
    <property name="softwareVersion" value="12.1.3.4.7" type="STRING"/>
  </component>
  <component name="mountPoints" type="bootstrapParams" validate="false">
    <property name="/Users/WiNDWAY/Personal/CS370/CarnotKE/jyhton/./WDB_db/store" value="" type="STRING"/>
  </component>
</config>
